# Sample Jupyter notebook
This notebook illustrates running interactive code snippets in codespaces

In [2]:
import pandas as pd
data_file:str = 'data/taxi_tripdata.csv'
df:pd.DataFrame = pd.read_csv(data_file)

In [6]:
# include data with fare greater than $50
df[df['fare_amount'] > 50.0]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
12,2,2021-06-07 15:15:47,2021-06-07 16:45:22,N,1,197,225,1,7.74,56.0,0.5,0.5,0.00,0.00,NaN,0.3,57.30,1,1,0.0
13,2,2021-07-01 00:31:21,2021-07-01 01:06:09,N,1,7,23,1,25.08,65.5,0.5,0.5,0.00,6.55,NaN,0.3,73.35,2,1,0.0
47,2,2021-07-01 04:24:05,2021-07-01 06:00:50,N,1,227,23,1,23.12,91.0,0.5,0.5,0.00,6.55,NaN,0.3,98.85,1,1,0.0
52,2,2021-07-01 04:39:47,2021-07-01 05:05:16,N,2,244,132,1,19.99,52.0,0.0,0.5,0.00,6.55,NaN,0.3,59.35,2,1,0.0
60,2,2021-07-01 05:06:24,2021-07-01 05:51:14,N,1,159,23,1,30.59,82.0,0.5,0.5,0.00,6.55,NaN,0.3,89.85,1,1,0.0
61,2,2021-07-01 05:53:17,2021-07-01 06:31:59,N,1,23,212,1,33.82,87.5,0.5,0.5,26.64,0.00,NaN,0.3,115.44,1,1,0.0
63,2,2021-07-01 06:00:57,2021-07-01 07:12:35,N,1,240,197,1,21.33,73.0,0.5,0.5,0.00,6.55,NaN,0.3,80.85,1,1,0.0
70,2,2021-07-01 06:28:15,2021-07-02 06:17:23,N,1,169,28,1,15.63,52.0,0.0,0.5,0.00,6.55,NaN,0.3,59.35,1,1,0.0
72,2,2021-07-01 06:22:58,2021-07-01 07:12:31,N,1,18,197,1,17.64,57.5,0.0,0.5,0.00,6.55,NaN,0.3,64.85,1,1,0.0
76,2,2021-07-01 06:21:57,2021-07-01 07:05:02,N,1,119,197,1,18.80,57.0,0.0,0.5,0.00,6.55,NaN,0.3,64.35,1,1,0.0
77,2,2021-07-01 06:37:19,2021-07-01 06:37:35,N,2,43,43,1,0.03,52.0,0.0,0.5,0.00,0.00,NaN,0.3,52.80,2,1,0.0
91,2,2021-07-01 06:02:23,2021-07-01 07:05:53,N,1,23,49,1,20.57,64.5,0.0,0.5,0.00,13.10,NaN,0.3,78.40,1,1,0.0
94,2,2021-07-01 06:01:07,2021-07-01 06:01:24,N,2,174,174,2,0.06,52.0,0.0,0.5,0.00,0.00,NaN,0.3,52.80,2,1,0.0
95,2,2021-07-01 06:01:51,2021-07-01 06:57:18,N,1,174,197,1,19.73,63.5,0.0,0.5,0.00,6.55,NaN,0.3,70.85,1,1,0.0
96,2,2021-07-01 06:06:55,2021-07-01 06:37:06,N,2,74,132,6,17.54,52.0,0.0,0.5,10.00,6.55,NaN,0.3,69.35,1,1,0.0